@page "/"
@inject NavigationManager Navigation

<PageTitle>Accueil - Orthophonie</PageTitle>

<div class="main-container">
    <img src="images/logo.jpg" alt="logo" width="900" height="600">

    <div class="buttons-container">
        <button class="btn btn-primary btn-lg left-button" @onclick="NavigateToRechercheComponent">
            Volet académique
        </button>

        <button class="btn btn-primary btn-lg right-button" @onclick="NavigateToCliniqueComponent">
            Volet clinique
        </button>
    </div>
</div>

@code {
    private void NavigateToCliniqueComponent()
    {
        Navigation.NavigateTo("clinique");
    }

    private void NavigateToRechercheComponent()
    {
        Navigation.NavigateTo("recherche");
    }
}