@page "/en"

<PageTitle>Home page - Speech pathologist</PageTitle>

<MainContainer>
    <img src="assets/images/michele-orthophoniste-logo.png" alt="Orthophoniste, MPO, O(c)" width="900" height="600" @onclick="NavigateToBiographyComponent">

    <div class="buttons-container">
        <button class="btn btn-primary btn-lg left-button" @onclick="NavigateToResearchComponent">
            Research
        </button>

        <button class="btn btn-primary btn-lg right-button" @onclick="NavigateToClinicalComponent">
            Clinical work
        </button>
    </div>
</MainContainer>