@page "/"

<PageTitle>Accueil | Orthophonie</PageTitle>

<img src="images/michele.jpg" width="290" height="330">

<h1>Michèle Masson-Trottier</h1>

<p class="title">Orthophoniste, MPO, O(c)</p>

<div class="text-container">
    <p>Orthophoniste diplômée de l’Université de Montréal en 2015 et étudiante au doctorat en sciences de l’orthophonie. Mes principaux intérêts de recherche portent sur la réadaptation des troubles de la communication auprès des personnes vivant avec une aphasie suite à un AVC ou vivant avec une maladie neurodégénérative. Plus précisément, je m’intéresse à l'efficacité des interventions en orthophonie, à la neuroplasticité induite par les thérapies suite à un AVC, ainsi qu'à maintenir la communication et la qualité de vie chez les personnes vivant avec une maladie neurodégénérative et leurs proches.</p>
</div>
