@page "/"

<PageTitle>Acceuil - Orthophonie</PageTitle>

<MainContainer>
    <img src="assets/images/michele-orthophoniste-logo.png" alt="Orthophoniste, MPO, O(c)" width="900" height="600">

    <div class="buttons-container">
        <button class="btn btn-primary btn-lg left-button" @onclick="NavigateToRechercheComponent">
            Volet académique
        </button>

        <button class="btn btn-primary btn-lg right-button" @onclick="NavigateToCliniqueComponent">
            Volet clinique
        </button>
    </div>
</MainContainer>