@page "/biographie_en"

<Heading Title="Biography" />

<MainContainer>
    <div>
        <img src="assets/images/michele-masson-trottier.jpg" alt="Michèle Masson-Trottier" width="300">

        <h1>Michèle Masson-Trottier</h1>

        <p class="title">Speech-language pathologist, MPO, O(c), Ph. D.</p>
    </div>

    <div>
        <div class="text-container">
            <ul>
                <li>Speech-language pathologist graduated from Université de Montréal in 2015 </li>
                <li>Doctorate in Speech-language pathology sciences from Université de Montréal in 2023</li>
                <li>Postdoctoral research fellow at Johns Hopkins Hospital in Baltimore, USA </li>
            </ul>

            <p>My main research interests focus on the rehabilitation of communication disorders in people living with aphasia following a stroke or living with a neurocognitive disorder such as primary progressive aphasia or Alzheimer's disease. Specifically, the effectiveness of speech therapy interventions, neuroplasticity induced by therapies following stroke and in the context of a neurocognitive disorder, the effect of non-invasive stimulation such as trancranial electrical stimulation (tDCS), as well as maintaining communication and quality of life in people quality of life in people living with communication disorders and their families.
            </p>

            <p>I have experience in behavioral data acquisition and neuroimaging, as well as project coordination, student supervision, grant writing and teaching. In my day-to-day work, I use Matlab and R-based tools and have experience with Python.
            </p>
        </div>
    </div>
</MainContainer>