
img {
    margin: 25px; 
    border-radius: 50%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

h1 {
    text-align: center;
}

.page-heading {
    text-align: left;
    color: #3E554F;
    margin-bottom: 20px;
}

.title {  
    text-align: center;
    font-size: 18px;
    color: grey;
}

.text-container {
    text-align: center; 
    max-width: 1140px; 
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.text-container p {
    text-align: justify;
}