@page "/clinique"

<Heading Title="Clinique" />
<p>
    Veuillez noter que je ne prends plus de nouveaux·elles client·e·s avant 2025.
</p>

<TextContainer Title="Philosophie">
    <p>
        En tant qu’orthophoniste qui adhère à l'approche de participation à la vie; mon objectif est de fournir des
        interventions d'une manière qui mène à des résultats fonctionnels et réduit les situations de handicap que
        causent les difficultés de communication.
    </p>

    <p>
        Mon approche vise à vous aider à reprendre ou à améliorer la réalisation de vos activités de communication,
        quelles qu’elles soient. Que vous souhaitiez tenir une conversation, écouter un reportage, lire un article,
        écrire un courriel, parler plus fort… le plan d’intervention que nous construirons part de vos projets, de vos
        objectifs!
    </p>

    <p>
        Je considère la communication dans son contexte social et fixe les interventions à partir des cadres de théorie
        de neuroscience et de psychologie de l’apprentissage. Je travaille en collaboration avec la personne vivant avec
        la difficulté de communication et son entourage lorsque c’est possible et souhaitable.
    </p>

    <p>
        J'offre des suivis individuels ou en dyade au privé (voir les conditions ci-dessous). Je suis également
        orthophoniste active à l'<a href="https://aphasie.ca/" target="_blank">Association Québecoise des Personnes
            Aphasiques (AQPA)</a> via le projet <a href="https://aphasie.ca/projet-sappa/" target="_blank">Service aux
            proches d'une Personnes Aphasique (SAPPA)</a> en offrant des interventions en dyades et des groupes de
        soutien destinés aux dyades de personnes vivant avec une aphasie post-AVC et leurs proches ainsi qu'aux dyades
        de personnes vivant avec une aphasie primaire progressive et leurs proches.
    </p>
</TextContainer>

<TextContainer Title="Difficultés de communication perçues">
    <ul>
        <li>Vous avez des difficultés de communication avec un proche </li>
        <li>Vous avez de la difficulté à participer à une conversation de groupe</li>
        <li>Vous cherchez vos mots</li>
        <li>Vous perdez le fil en conversation</li>
        <li>Vous ne comprenez pas ce que vous lisez</li>
        <li>Vous n’arrivez pas à prendre des notes</li>
        <li>Vous avez de la difficulté à écrire un message</li>
        <li>Vous avez de la difficulté à articuler</li>
        <li>Votre voix est faible, trop forte ou éraillée</li>
        <li>Vous avez de la difficulté à avaler</li>
    </ul>
</TextContainer>

<TextContainer Title="Clientèle desservie">
    <p>Je travaille auprès de personnes ayant des difficultés de communication de causes variées:</p>

    <ul>
        <li>Aphasie suite à un AVC ou un traumatisme craniocérébral</li>
        <li>Aphasie primaire progressive ou autre trouble neurocognitif (Démence de type Alzheimer, Maladie de
            Parkinson, sclérose en plaques)</li>
        <li>Apraxie de la parole</li>
        <li>Dysarthrie</li>
        <li>Dysphagie</li>
        <li>Dysphonie et autres troubles de voix</li>
        <li>Trouble cognitivo-communicatif</li>
    </ul>

    <p style="font-size: 12px">
        Toutes mes rencontres se déroulent soit à domicile, soit en téléintervention. Pour les rencontres à domicile, il
        faut ajouter un frais de déplacement de 40$ pour le centre de l'île de Montréal (ouest de Décarie, nord de
        métropolitain, est de Papineau et sud de Notre-Dame) et 60$ pour un déplacement dans la grande région de
        Montréal qui a préalablement été accepté. Les prix sont sujet à changer.
    </p>
</TextContainer>

<TextContainer Title="Évaluation">
    <p>
        L’évaluation permet d’objectiver vos difficultés de communication, d’identifier, avec vous, vos besoins et
        objectifs d’intervention et finalement de vous proposer des moyens d’intervention pour y remédier. L’évaluation
        s’échelonne sur 1 à 3 rencontres selon la problématique à évaluer.
    </p>

    <p>
        Les frais d’évaluation incluent la passation de tâches d’évaluation, l’interprétation des résultats, la
        transmission des résultats et la rédaction du rapport d’évaluation ainsi que du plan d’intervention.
    </p>

    <p>
        À l’issue de l’évaluation, une rencontre de remise des résultats est effectuée avec de présenter les différents
        objectifs d’intervention en fonction des résultats et de vos projets. Les moyens d’intervention sont également
        discutés.
    </p>

    <p>L’intervention pourra vous aider, par la suite, à atteindre vos objectifs.</p>

    <table>
        <tr>
            <th>Évaluation orthophonique</th>
        </tr>
        <tr>
            <td>Évaluation de langage complet (oral et écrit) suite à un AVC : 500$ - 750$*</td>
        </tr>
        <tr>
            <td style="text-align: left;">
                · 2 à 3 rencontres (250$/h)<br />
                · Analyse des résultats<br />
                · 1 rencontre d’explication des résultats (100$ pour 50 min)<br />
                · Rédaction et remise d’un rapport et plan d’intervention écrit
            </td>
        </tr>
        <tr>
            <td>Évaluation de la communication fonctionnelle suite à un AVC : 400$ - 600$*</td>
        </tr>
        <tr>
            <td style="text-align: left;">
                · 2 à 3 rencontres (200$/h)<br />
                · Analyse des résultats<br />
                · 1 rencontre d’explication des résultats (100$ pour 50 min)<br />
                · Rédaction et remise d’un rapport et plan d’intervention écrit
            </td>
        </tr>
        <tr>
            <td>Évaluation de la communication dans un contexte de trouble neurocognitif: 175$ – 525$*</td>
        </tr>
        <tr>
            <td style="text-align: left;">
                · 1 à 3 rencontres (175$/h)<br />
                · Analyse des résultats<br />
                · 1 rencontre d’explication des résultats (100$ pour 50 min)<br />
                · Rédaction et remise d’un rapport et plan d’intervention écrit
            </td>
        </tr>
        <tr>
            <td>Évaluation subjective de la déglutition: 225 $*</td>
        </tr>
        <tr>
            <td style="text-align: left;">
                · 1 rencontres (225$/h)<br />
                · Analyse des résultats<br />
                · 1 rencontre d’explication des résultats (100$ pour 50 min)<br />
                · Rédaction et remise d’un rapport et plan d’intervention écrit
            </td>
        </tr>
        <tr>
            <td>1re rencontre de suivi : 150$</td>
        </tr>
        <tr>
            <td style="text-align: left;">
                · Ouverture de dossier<br />
                · Rédaction d’un plan d’intervention<br />
                · Traitement orthophonique
            </td>
        </tr>
    </table>
</TextContainer>

<TextContainer Title="Intervention">
    <p>
        L’intervention peut viser à promouvoir la récupération des fonctions langagières, faciliter la participation aux
        activités du quotidien ou réaliser des tâches spécifiques. La fréquence des rencontres est à déterminer ensemble
        en fonction de notre entente de service.
    </p>

    <p>
        L’intervention peut se dérouler de façon individuelle, avec un proche ou encore via des activités de groupe.
        Nous
        travaillons toujours à partir de vos intérêts et vos projets actuels. Je travaille aussi avec des personnes
        souhaitant un maintien au travail en adaptant le milieu actuel et en identifiant les stratégies permettant de
        bien compenser les difficultés langagières.
    </p>

    <p>
        En tout temps, pendant l’intervention, le lien entre les exercices et les objectifs vous est expliqué
        clairement.
        Le lien entre les différents facteurs de votre entourage pouvant avoir un impact sur votre communication vous
        est également expliqué.
    </p>

    <p>Pendant l’intervention, des objectifs plus spécifiques sont possible, ciblant notamment:</p>

    <ul>
        <li>Expression orale: Trouver des mots pour parler, avoir une conversation, expliquer, parler, discuter. </li>
        <li>Lecture: Lire des nouvelles, des articles, des romans. </li>
        <li>Écrire: Rédiger des SMS, des courriels, des lettres, des essais. </li>
        <li>Communication alternative et augmentation : Il est possible de trouver des alternatives à parler, lire ou
            écrire en raison de difficultés de communication. </li>
        <li>Voix: Parler avec une meilleure voix (plus forte, moins rauque, moins fatigante). Mieux comprendre la
            structure et la mécanique de la voix. </li>
        <li>Avaler: Plus facile à manger et plus facile à avaler. Mieux comprendre la structure et la fonction de la
            déglutition.</li>
    </ul>

    <table>
        <tr>
            <th>Intervention en orthophonie</th>
        </tr>
        <tr>
            <td>Traitement en langage oral et/ou en langage écrit</td>
        </tr>
        <tr>
            <td>120$ pour 50 minutes</td>
        </tr>
    </table>
</TextContainer>

<TextContainer Title="Mentorat">
    <p>
        J’offre des services de mentorat aux orthophonistes qui souhaitent de l’encadrement. Je peux aborder les cadres
        théoriques des interventions en troubles acquis, de même qu’offrir du soutien pour une pratique basée sur la
        participation - au niveau de l’évaluation, de l’élaboration du plan d’intervention et de la mise en place de
        moyens thérapeutiques.
    </p>
</TextContainer>

<TextContainer Title="Conférences">
    <p>
        Conférence grand public :<br />
        <b>Comment (et pourquoi) maintenir la communication avec les personnes atteintes d'un trouble neurocognitif
        </b><br />
        *Passée* 1er avril 2023 de 14h00 à 16h00, conférence en présentiel au Campus Laval de l'Université de
        Montréal<br />
    </p>

    <p>
        <i>
            Accompagner un·e proche dans le trajet qu’est une maladie neurodégénérative comme la maladie d’Alzheimer
            n’est
            pas chose simple. Au fil du temps, de nouveaux défis apparaissent et peuvent compliquer le quotidien.
            Notamment, des troubles de la communication et du langage peuvent rendre difficiles les interactions avec la
            personne chère. Il n’est pas rare de se sentir démuni face à cette situation. Cette conférence clinique
            grand public vise à soutenir et outiller les proches dans l’accompagnement d’un proche qui vit avec une
            maladie neurodégénérative. Pour y parvenir, d’abord, cette conférence vise à informer les proches aidant·e·s
            sur les maladies neurodégénératives et les aider à comprendre pourquoi le comportement de leur être cher·ère
            change. Ensuite, l’objectif sera de fournir des stratégies concrètes qui peuvent être utilisées dans le
            quotidien pour faciliter le fonctionnement, réduire le fardeau de l’aidant et augmenter la qualité de vie de
            tous. Les thèmes abordés lors de cette conférence seront la communication, les facteurs de protection,
            l’impact du bilinguisme et les stratégies de communication. Le public sera invité à interagir avec la
            conférencière. Cette conférence vise à améliorer la santé populationnelle en partageant des connaissances
            scientifiques aux personnes curieuses et celles qui veulent améliorer leurs connaissances et leur
            compréhension des défis de l’être humain.
        </i>
    </p>

    <object data="assets/udem-laval-20230403.pdf" type="application/pdf" width="100%" height="500px">
        <p>Lien vers la présentation <a href="assets/udem-laval-20230403.pdf">ici!</a></p>
    </object>
</TextContainer>
