@page "/clinique_en"

<Heading Title="Clinical work" />
<p>
    Please note that I will not be taking on any new patients until 2025.
</p>

<TextContainer Title="Philosophy">
    <p>
        As a speech-language pathologist who adheres to the life-participation approach, my goal is to provide interventions in a way that leads to functional results and reduces handicap situations caused by communication difficulties.
    </p>

    <p>
        My approach is designed to help you resume or improve your communication activities, whatever they may be. Whether you want to hold a conversation, listen to a news report, read an article, write an e-mail, speak up... the intervention plan we will build starts from your projects, your goals!
    </p>

    <p>
   I consider communication in its social context and base interventions on the theoretical frameworks of neuroscience and learning psychology. I work in collaboration with the person living with the communication disorder and his or her support system whenever possible and desirable.
    </p>

    <p>
        I offer individual or dyadic therapies (see conditions below). I am also an active speech-language pathologist with the .<a href="https://aphasie.ca/" target="_blank">Association Québecoise des Personnes Aphasiques (AQPA)</a> through the <a href="https://aphasie.ca/projet-sappa/" target="_blank">Service aux proches d'une Personnes Aphasique (SAPPA)</a> program offering dyad interventions and support groups for people living with post-stroke aphasia and their families, as well as for people living with primary progressive aphasia and their families.
    </p>
</TextContainer>

<TextContainer Title="*">
    <ul>
        <li>You have difficulty communicating with a loved one</li>
        <li>You have difficulty participating in a group conversation.</li>
        <li>You're looking for words</li>
        <li>You lose track in conversations</li>
        <li>You don't understand what you read</li>
        <li>You have trouble taking notes</li>
        <li>You have trouble writing a message</li>
        <li>You have difficulty articulating</li>
        <li>Your voice is weak, too loud or hoarse</li>
        <li>You have difficulty swallowing</li>
    </ul>
</TextContainer>

<TextContainer Title="Clientele served">
    <p>I work with people who have communication disorders of various origins:</p>

    <ul>
        <li>Aphasia following stroke or traumatic brain injury</li>
        <li>Primary progressive aphasia or other neurocognitive disorder (Alzheimer's dementia, Parkinson's disease, multiple sclerosis)</li>
        <li>Apraxia of speech</li>
        <li>Dysarthria</li>
        <li>Dysphagia</li>
        <li>Dysphonia and other voice disorders</li>
        <li>Cognitive-communicative disorder</li>
    </ul>

    <p style="font-size: 12px">
        All my appointments take place either in your home or via tele-intervention. For in-home appointments, a travel fee of $40 must be added for the central part of the island of Montreal (west of Décarie, north of Métropolitain, east of Papineau and south of Notre-Dame) and $60 for travel in the greater Montreal area that has been pre-approved. Prices are subject to change.
    </p>
</TextContainer>

<TextContainer Title="Assessment">
    <p>
       The assessment enables us to objectify the communication difficulties you are experiencing, to identify your needs and intervention objectives with you and, finally, to suggest ways of remedying them. The assessment takes place over 1 to 3 meetings, depending on the area of concern.
    </p>

    <p>
        Assessment fees include the completion of assessment tasks, interpretation of results, transmission of results and writing of the assessment report and intervention plan.
    </p>

    <p>
        At the end of the assessment, a meeting is held to discuss the results and present the various intervention objectives based on the results and your projects. The means of intervention are also discussed.
    </p>

    <p>Intervention may help you achieve your goals in the future.</p>

    <table>
        <tr>
            <th>Speech and language assessment</th>
        </tr>
        <tr>
            <td>Comprehensive language assessment (oral and written) following a stroke: $500 - $750*</td>
        </tr>
        <tr>
            <td style="text-align: left;">
                · 2 to 3 sessions (250$/h)<br />
                · Result analysis<br />
                · 1 meeting to explain results (100$ for 50 min)<br />
                · Writing and presentation of a written report and intervention plan
            </td>
        </tr>
        <tr>
            <td>Assessing functional communication after stroke : 400$ - 600$*</td>
        </tr>
        <tr>
            <td style="text-align: left;">
                · 2 to 3 sessions (200$/h)<br />
                · Result analysis<br />
                · 1 meeting to explain results (100$ for 50 min)<br />
                · Writing and presentation of a written report and intervention plan
            </td>
        </tr>
        <tr>
            <td>Assessing communication in a context of neurocognitive disorder: 175$ – 525$*</td>
        </tr>
        <tr>
            <td style="text-align: left;">
                · 1 to 3 sessions (175$/h)<br />
                · Result analysis<br />
                · 1 meeting to explain results (100$ for 50 min)<br />
                · Writing and presentation of a written report and intervention plan
            </td>
        </tr>
        <tr>
            <td>Subjective assessment of swallowing: 225 $*</td>
        </tr>
        <tr>
            <td style="text-align: left;">
                · 1 sessions (225$/h)<br />
                · Result analysis<br />
                · 1 meeting to explain results (100$ for 50 min)<br />
                · Writing and presentation of a written report and intervention plan
            </td>
        </tr>
        <tr>
            <td>1st intervention meeting : 150$</td>
        </tr>
        <tr>
            <td style="text-align: left;">
                · Opening a patient file<br />
                · Writing and presentation an intervention plan
                · Intervention
            </td>
        </tr>
    </table>
</TextContainer>

<TextContainer Title="Intervention">
    <p>
        Intervention can be aimed at promoting recovery of language functions, facilitating participation in daily activities or carrying out specific tasks. The frequency of meetings is determined together, based on our service agreement.
    </p>

    <p>
   Intervention can take place on an individual basis, with a loved one, or through group activities. We always work on the basis of your current interests and projects. I also work with people wishing to remain in the workplace, adapting the current environment and identifying strategies to compensate for language difficulties.
    </p>

    <p>
        At all times during the intervention, the relevance of the exercises to the objectives is clearly explained. The relationships between the various factors in your environment that can have an impact on your communication are also explained.
    </p>

    <p>During the intervention, more specific objectives are possible, targeting in particular:</p>

    <ul>
        <li>Oral expression: Finding words to speak, having a conversation, explaining, talking, discussing. </li>
        <li>Reading: Reading short stories, articles and novels. </li>
        <li>Writing: Writing SMS, e-mails, letters, essays. </li>
        <li>Alternative and augmentative communication: It is possible to find alternatives to speaking, reading or writing when faced with communication difficulties. </li>
        <li>Voice: Speaking with a better voice (stronger, less hoarse, less tiring). Better understanding of voice structure and mechanics.</li>
        <li>Swallowing: Making it easier to eat and easier to swallow. Better understanding of the structure and function of swallowing.</li>
    </ul>

    <table>
        <tr>
            <th>Speech and language therapy</th>
        </tr>
        <tr>
            <td>Oral and/or written language therapy</td>
        </tr>
        <tr>
            <td>120$* for 50 minutes</td>
        </tr>
    </table>
</TextContainer>

<TextContainer Title="Mentorship">
    <p>
        I offer mentoring services to speech-language pathologists who are looking for guidance. I can address theoretical frameworks for intervention in acquired disorders, as well as provide support for life participation approach - in assessment, in developing the intervention plan, and in implementing therapeutic means.
    </p>
</TextContainer>

<TextContainer Title="Conferences">
    <p>
        General public conference :<br />
        <b>In French: Comment (et pourquoi) maintenir la communication avec les personnes atteintes d'un trouble neurocognitif
        </b><br />
        *Passée* 1er avril 2023 de 14h00 à 16h00, conférence en présentiel au Campus Laval de l'Université de
        Montréal<br />
    </p>

    <p>
        <i>
            Accompagner un·e proche dans le trajet qu’est une maladie neurodégénérative comme la maladie d’Alzheimer
            n’est
            pas chose simple. Au fil du temps, de nouveaux défis apparaissent et peuvent compliquer le quotidien.
            Notamment, des troubles de la communication et du langage peuvent rendre difficiles les interactions avec la
            personne chère. Il n’est pas rare de se sentir démuni face à cette situation. Cette conférence clinique
            grand public vise à soutenir et outiller les proches dans l’accompagnement d’un proche qui vit avec une
            maladie neurodégénérative. Pour y parvenir, d’abord, cette conférence vise à informer les proches aidant·e·s
            sur les maladies neurodégénératives et les aider à comprendre pourquoi le comportement de leur être cher·ère
            change. Ensuite, l’objectif sera de fournir des stratégies concrètes qui peuvent être utilisées dans le
            quotidien pour faciliter le fonctionnement, réduire le fardeau de l’aidant et augmenter la qualité de vie de
            tous. Les thèmes abordés lors de cette conférence seront la communication, les facteurs de protection,
            l’impact du bilinguisme et les stratégies de communication. Le public sera invité à interagir avec la
            conférencière. Cette conférence vise à améliorer la santé populationnelle en partageant des connaissances
            scientifiques aux personnes curieuses et celles qui veulent améliorer leurs connaissances et leur
            compréhension des défis de l’être humain.
        </i>
    </p>

    <object data="assets/UdeM_Laval_20230403.pdf" type="application/pdf" width="100%" height="500px">
        <p>Lien vers la présentation <a href="assets/UdeM_Laval_20230403.pdf">ici!</a></p>
    </object>
</TextContainer>