@page "/contact"

<Heading Title="Contact" />

<MainContainer>
    <div class="cards-container">
        <Card>
            <i class="fa-solid fa-location-dot"></i>
        
            <p>Montréal</p>
        </Card>

        <Card>
            <i class="fa-solid fa-envelope"></i>
            
            <a href="mailto:michelemt8@gmail.com">michelemt8@gmail.com</a>
        </Card>

        <Card>
            <i class="fa-solid fa-clock"></i>

            <p>Sur rendez-vous</p>
        </Card>
    </div>
</MainContainer>