@page "/contact_en"

<Heading Title="Contact" />

<MainContainer>
    <div class="cards-container">
        <Card>
            <i class="fa-solid fa-location-dot"></i>

            <p>Montréal, Canada</p>

            <p>Baltimore, USA</p>
        </Card>

        <Card>
            <i class="fa-solid fa-envelope"></i>

            <a href="mailto:michelemassontrottier@gmail.com">michelemassontrottier@gmail.com</a>
            <a href="mailto:mmasont1@jhmi.edu">mmasont1@jhmi.edu</a>
        </Card>

        <Card>
            <i class="fa-solid fa-clock"></i>

            <p>Appointment only</p>
        </Card>
    </div>
</MainContainer>