@page "/recherche_en"

<Heading Title="Research" />

<TextContainer Title="Research interests">
    <ul>
        <li>Language disorders</li>
        <li>Speech disorders</li>
        <li>Neurocognitive disorders</li>
        <li>Effectiveness of interventions</li>
        <li>Neuroplasticity</li>
        <li>Evidence-based practice</li>
        <li>Artificial intelligence</li>
        <li>Open science</li>
    </ul>
</TextContainer>

<TextContainer Title="Publications">
    <p>
        <b>Masson-Trottier, M.</b>, Dash, T., Berroir, P., & Ansaldo, A. I. (2022). French Phonological Component
        Analysis and aphasia recovery: A bilingual perspective on behavioral and structural data. Frontiers in Human
        Neuroscience, 16. <a
            href="https://doi.org/10.3389/fnhum.2022.752121">https://doi.org/10.3389/fnhum.2022.752121</a>
    </p>

    <p>
        <b>Masson-Trottier, M.</b>, Sontheimer, A., Durand, E., & Ansaldo, A. I. (2021). Resting-State Functional
        Connectivity following Phonological Component Analysis: The Combined Action of Phonology and Visual Orthographic
        Cues. Brain Sci, 11(11). <a
            href="https://doi.org/10.3390/brainsci11111458">https://doi.org/10.3390/brainsci11111458</a>
    </p>

    <p>
        Durand, E., <b>Masson-Trottier, M.</b>, Sontheimer, A., & Ansaldo, A. I. (2021). Increased links between
        language
        and motor areas: A proof-of-concept study on resting-state functional connectivity following Personalized
        Observation, Execution and Mental imagery therapy in chronic aphasia. Brain Cogn, 148, 105659.
        <a href="https://doi.org/10.1016/j.bandc.2020.105659 ">https://doi.org/10.1016/j.bandc.2020.105659</a>
    </p>

    <p>
        Dash, T., <b>Masson-Trottier, M.</b>, & Ansaldo, A. I. (2020). Efficiency of attentional processes in bilingual
        speakers with aphasia. Aphasiology, 1-25. <a
            href="https://doi.org/10.1080/02687038.2020.1719970">https://doi.org/10.1080/02687038.2020.1719970</a>
    </p>

    <p>Durand, E., <b>Masson-Trottier, M.</b>, and Ansaldo, A.I., L’orthophoniste à l’ère de la globalisation :
        intervenir auprès des populations allophones souffrant d’aphasie. Rééducation orthophonique, 2018. 275
        (Septembre 2018): p. 29-50</p>

    <p><b>Masson-Trottier, M.</b>, Ferré, P., Joanette, Y., and Marcotte, K., Récupération des troubles de la
        communication suite à un traumatisme cranio-cérébral en phase aiguë : Impact d’une thérapie pragmatique
        intensive. . Glossa, 2016. 120: p. 1–23.</p>
</TextContainer>

<TextContainer Title="Teaching">
    <p>Lecturer at Université de Montréal since 2020</p>

    <p>
        2023/05&nbsp&nbsp&nbspChargée de cours (1 crédits langage et communication, 1 crédits parole) – ORT6532 «
        Intervention orthophonique adulte et aîné 2 »<br />
        2023/03&nbsp&nbsp&nbspChargée de cours (1 crédit) – ORT6531 « Intervention orthophonique adulte et aîné 1»<br />
        2022/09&nbsp&nbsp&nbspChargée de clinique – ORT6100 « Principes d'évaluation orthophonique»<br />
        2022/09&nbsp&nbsp&nbspTutrice clinique – ORT6100 « Principes d'évaluation orthophonique»<br />
        2022/09&nbsp&nbsp&nbspChargée de cours – ORT6000 « Introduction à l’orthophonie »<br />
        2022/05&nbsp&nbsp&nbspChargée de cours (2 crédits langage et communication, 2 crédits parole) – ORT6532 «
        Intervention orthophonique adulte et aîné 2 »<br />
        2022/03&nbsp&nbsp&nbspChargée de cours (1 crédit) – ORT6531 « Intervention orthophonique adulte et aîné 1»<br />
        2022/03&nbsp&nbsp&nbspChargée de cours (1 crédit) – AUD6243 « Intervention audiologique 3»<br />
        2021/09&nbsp&nbsp&nbspTutrice clinique – ORT6100 « Principes d'évaluation orthophonique »<br />
        2021-09&nbsp&nbsp&nbspChargée de cours – ORT6000 « Introduction à l’orthophonie »<br />
        2021/05&nbsp&nbsp&nbspChargée de cours (2 crédit) – ORT6532 « Intervention orthophonique adulte et aîné 2»<br />
        2021/03&nbsp&nbsp&nbspChargée de cours (1 crédit) – ORT6531 « Intervention orthophonique adulte et aîné 1»<br />
        2021/03&nbsp&nbsp&nbspChargée de cours (1 crédit) – AUD6243 « Intervention audiologique 3»<br />
        2020/09&nbsp&nbsp&nbspTutrice clinique – ORT6100 « Principes d'évaluation orthophonique »<br />
        2020-09&nbsp&nbsp&nbspChargée de cours – ORT6000 « Introduction à l’orthophonie »
    </p>
</TextContainer>

<TextContainer Title="Continuing education in speech and language therapy">
    <p>
        <b>In French: Interventions en orthophonie auprès de personnes ayant un trouble acquis de la communication – des principes théoriques aux applications cliniques</b> <br />
        26 janvier 2024 de 9h à 12h et 13h à 16h (6 heures), formation en ligne et en différée <br />
        <a href="https://www.aqoa.qc.ca/fr/formations">Lien vers inscription à venir</a>
    </p>

    <p>
        <i>Dans cette formation en deux volets, l’objectif est d’outiller les orthophonistes oeuvrant auprès de
            personnes vivant avec un trouble acquis de la communication en explorant d’abord les théories qui supportent
            les interventions de réadaptation de la communication, puis d’appliquer ces nouvelles connaissances lors
            d’une revue, qui se veut exhaustive, des interventions en orthophonie qui ciblent la communication chez les
            personnes présentant un trouble acquis de la communication. Dans cette formation, nous couvrirons les
            interventions qui ciblent la communication chez les personnes présentant un trouble de la communication à
            apparition soudaine (p. ex. à la suite d’un AVC) et à apparition graduelle (p. ex. dans le contexte d’une
            malade neurocognitive).
            Dans un premier temps, nous passerons en revue les principes théoriques qui guident les interventions auprès
            de personnes vivant avec des troubles acquis de la communication en explorant le cadre théorique du Système
            de spécification des traitements de réadaptation (ou Rehabilitation Treatment Specification System en
            anglais). Par suite de cette formation, les orthophonistes pourront systématiquement décrire leurs
            interventions en identifiant la cible d’intervention spécifique, le·s ingrédient·s actif·s et le mécanisme
            d’action en jeu. Les orthophonistes auront davantage de connaissances sur les principes d’intervention en
            orthophonie favorisant la neuroplasticité et aussi les théories d’apprentissage qui favorisent les gains.
            Dans un second temps, les interventions supportées par les évidences scientifiques seront présentées et
            analysées afin de mieux comprendre les ingrédients actifs qui permettent d’entrainer des améliorations.
        </i>
    </p>
</TextContainer>