@page "/videos"

<PageTitle>Vidéos | Orthophonie</PageTitle>

<h1>Vidéos</h1>

<p>2022-05-03: Webinaire cerveau bilingue et santé cognitive</p>

<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0mEWB-6w0Ew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
