table {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
	width: fit-content;
	height: fit-content;
}

tr td {
	padding: 10px;
}

.video-container {
	position: relative;
    width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.text-container {
    text-align: center; 
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
	overflow: auto;
}