@page "/videos"

<Heading Title="Vidéos" />

<MainContainer>
    <div class="videos-container">
        <iframe width="420" height="345" src="https://www.youtube.com/embed/eO0xUCZMkmA"></iframe>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/XfJa1hSmBh0?t=2936"></iframe>
        <iframe width="500" height="360"src="https://www.youtube.com/embed/_5CYyhUyjj0"></iframe>
        <iframe width="500" height="360"src="https://www.youtube.com/embed/0mEWB-6w0Ew"></iframe>
    </div>    
</MainContainer>