<select class="selectpicker show-tick" data-width="135px" data-style="btn-primary">
    <option selected data-content="<span class='fi fi-fr'></span>&nbsp;&nbsp;Français">Français</option>
    <option data-content="<span class='fi fi-gb'></span>&nbsp;&nbsp;English">English</option>
</select>