<select class="selectpicker" data-width="135px">
    <option selected data-content="<span class='fi fi-fr'></span>&nbsp;&nbsp;Français">Français</option>
    <option disabled data-content="<span class='fi fi-gb'></span>&nbsp;&nbsp;English">English</option>
</select>