<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <div class="container pt-4">
        <section class="mb-4">
     		<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/mich_de_pain" role="button" data-mdb-ripple-color="dark"><i class="fa-brands fa-twitter"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.researchgate.net/profile/Michele-Masson-Trottier" role="button" data-mdb-ripple-color="dark"><i class="fa-brands fa-researchgate"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/in/mich%C3%A8le-masson-trottier-b5063964/" role="button" data-mdb-ripple-color="dark"><i class="fa-brands fa-linkedin"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=z_c_OjsAAAAJ" role="button" data-mdb-ripple-color="dark"><i class="fa-brands fa-google"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/vinhent/michele-masson-trottier" role="button" data-mdb-ripple-color="dark"><i class="fa-brands fa-github"></i></a>
      </section>
    </div>

    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.15);">
        © 2021 Copyright: Vincent Gravel
    </div>
</footer>