<div style="max-width: 150px;">
    <select class="form-select" @bind="Culture">
        @foreach (var culture in _supportedCultures)
        {
            <option value="@culture">@culture.DisplayName</option>
        }
    </select>
</div>