<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <NavBrand Brand="Orthophonie" Logo="images/michele-orthophoniste-brand.png" />
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Accueil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="biographie">
                <span class="oi oi-person" aria-hidden="true"></span> Biographie
            </NavLink>
        </div>
       <div class="nav-item px-3">
            <NavLink class="nav-link" href="clinique">
                <span class="oi oi-people" aria-hidden="true"></span> Clinique
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recherche">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Recherche
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="videos">
                <span class="oi oi-video" aria-hidden="true"></span> Vidéos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Contact
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
