<h3>@Title</h3>

<div>@ChildContent</div>

@code {
	[Parameter]
    [EditorRequired]
	public string? Title { get; set; }

	[Parameter]
    [EditorRequired]
	public RenderFragment? ChildContent { get; set; }
}