@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Clinique</PageTitle>

<img src="images/logo.jpg" width="350px" height="200px" style="display: block; margin-left: auto; margin-right: auto;">

<h1>Clinique</h1>

<p>En tant que clinicienne, je valorise une attitude authentique et chaleureuse pour atteindre les objectifs que nous nous fixons. Il est essentielle pour moi que l'on travaille en partenariat pour prioriser ce sur quoi l'on travaille.</p>

<p> La pratique basée sur les évidences scientifiques est mise de l'avant dans ma prise en charge, en autant les principes qui favorisent la neuroplasticité, soit la capacité du cerveau à se modifier, que les principes d'apprentissage et de participation sociale.</p>
